body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;

}

.container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    @media (min-width: 768px) {
        .container {
            width: 600px; /* o cualquier otro tama침o que desees */
        }
    }
    
    /* para pantallas peque침as */
    @media (max-width: 767px) {
        .container {
            width: 90%; /* para que se ajuste a la pantalla */
        }
    }
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
label {
    font-size: 18px;
    margin-right: 10px;
}

input[type=number] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

button[type=button1] {
    width: 50%;
    padding: 14px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: transform .2s;
}

button[type=button]:hover {
    transform: scale(1.1);
}

.result {
    
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #e0e0e0;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
  }
  .animal-img {
    width: 200px; /* tama침o de la imagen */
    border: 1px solid transparent; /* borde transparente */
    display: list-item;
}

input[type="radio"] {
    display: none; /* ocultar los radio buttons */
}

input[type="radio"]:checked + .animal-img {
    border-color: green; /* borde verde cuando est치 seleccionado */
}
input[type="textowo"]{
    text-align: center;
}
.btn-primary{
    text-size-adjust: 100px;
}