/* Cambiar logo principal */
.skinHeader.withBackdrop .headerLogo,
.pageTitleWithDefaultLogo .logo {
    background-image: url("https://vanesol.com/img/logovanesol.png") !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    width: 180px !important;
    height: 60px !important;
    content: "" !important;
    display: block !important;
    text-indent: -9999px !important;
}
.skinHeader.withBackdrop .headerLogo > img,
.pageTitleWithDefaultLogo .logo > img {
    display: none !important;
}

/* Cambiar logo de carga */
.splashLogo {
    background-image: url("https://vanesol.com/img/logovanesol.png") !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    width: 200px !important;
    height: 200px !important;
    content: "" !important;
}
.splashLogo > img {
    display: none !important;
}
